#exportPattern("^[^\\.]")
export(plm,pvcm,pgmm,pggls,pdata.frame,pread.table,plmtest,phtest,pFtest,
       pvar,pdim,pooltest,FE,within,between,Between,papply,pvcovHC,dynformula,pfix,sargan,mtest)
#       theta.method.list,effect.list,trinst.list,model.list)
import(stats)
importFrom(kinship,bdsmatrix)
S3method(pdim,pdata.frame)
S3method(pdim,data.frame)
#S3method(pdim,default)
S3method(print,pdim)
S3method(papply,matrix)
S3method(papply,pserie)
S3method(papply,default)
S3method(within,matrix)
S3method(within,pserie)
#S3method(within,default)
S3method(between,matrix)
S3method(between,pserie)
S3method(between,default)
S3method(Between,matrix)
S3method(Between,pserie)
S3method(Between,default)
S3method(pvar,pdata.frame)
S3method(pvar,data.frame)
S3method(pvar,matrix)
S3method(pvar,default)
S3method(print,pvar)
S3method(lag,pserie)
S3method(diff,pserie)
S3method(terms,panelmodel)
S3method(print,panelmodel)
S3method(coefficients,panelmodel)
S3method(residuals,panelmodel)
S3method(fitted.values,panelmodel)
S3method(df.residual,panelmodel)
S3method(vcov,panelmodel)
S3method(print,plms)
S3method(summary,plm)
S3method(summary,plms)
S3method(print,summary.plm)
S3method(print,summary.plms)
S3method(summary,pgmm)
S3method(print,summary.pgmm)
S3method(summary,pvcm)
S3method(print,summary.pvcm)
S3method(summary,pggls)
S3method(print,summary.pggls)
S3method(summary,pdata.frame)
S3method(as.data.frame,pdata.frame)
S3method(print,summary.pdata.frame)
S3method(FE,plm)
S3method(FE,plms)
S3method(print,FE)
S3method(summary,FE)
#S3method(plmtest,default)
S3method(pooltest,plm)
S3method(pooltest,plms)
S3method(plmtest,plm)
S3method(plmtest,plms)
S3method(phtest,panelmodel)
S3method(phtest,plms)
S3method(pFtest,plm)
S3method(pFtest,plms)
S3method(pvcovHC,panelmodel)
S3method(pvcovHC,pgmm)
S3method(print,dynformula)
