#exportPattern("^[^\\.]")
export(plm,pdata.frame,pmean,pdiff,plag,plmtest,phtest,pFtest,pvarcheck,pdimcheck,pooltest,nopool)
S3method(nopool,default)
S3method(nopool,formula)
S3method(print,nopool)
S3method(summary,nopool)
S3method(print,summary.nopool)
S3method(plot,nopool)
S3method(print,plm)
S3method(print,plms)
S3method(summary,plm)
S3method(summary,plms)
S3method(print,summary.plm)
S3method(print,summary.plms)
S3method(plm,formula)
S3method(plm,default)
S3method(plmtest,default)
S3method(plmtest,plm)
S3method(plmtest,plms)
S3method(phtest,plm)
S3method(phtest,plms)
S3method(pFtest,plm)
S3method(pFtest,plms)

