#exportPattern("^[^\\.]")
export(plm,pdata.frame,pread.table,plmtest,phtest,pFtest,
       pvar,pdim,pooltest,nopool,FE,within,between,Between,papply)
#       theta.method.list,effect.list,trinst.list,model.list)
import(stats)
S3method(pdim,pdata.frame)
S3method(pdim,data.frame)
#S3method(pdim,default)
S3method(print,pdim)
S3method(papply,matrix)
S3method(papply,pserie)
S3method(papply,default)
S3method(within,matrix)
S3method(within,pserie)
#S3method(within,default)
S3method(between,matrix)
S3method(between,pserie)
S3method(between,default)
S3method(Between,matrix)
S3method(Between,pserie)
S3method(Between,default)
S3method(pvar,pdata.frame)
S3method(pvar,data.frame)
S3method(pvar,matrix)
S3method(pvar,default)
S3method(print,pvar)
S3method(lag,pserie)
S3method(diff,pserie)
#S3method(nopool,default)
#S3method(nopool,formula)
S3method(print,nopool)
S3method(summary,nopool)
S3method(print,summary.nopool)
S3method(plot,nopool)
S3method(print,plm)
S3method(print,plms)
S3method(summary,plm)
S3method(summary,plms)
S3method(print,summary.plm)
S3method(print,summary.plms)
S3method(summary,pdata.frame)
S3method(print,summary.pdata.frame)
S3method(FE,plm)
S3method(FE,plms)
#S3method(plmtest,default)
S3method(plmtest,plm)
S3method(plmtest,plms)
S3method(phtest,plm)
S3method(phtest,plms)
S3method(pFtest,plm)
S3method(pFtest,plms)
S3method(vcov,plm)
#S3method(coefficients,plm)
S3method(formula,plm)
#S3method(residuals,plm)

